.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}

.generalCardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 370px;
  max-height: 72px;
  padding: 19px 24px;
}

.generalCardBtn {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.action {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  right: 10px;

  padding: 8px 0px;

  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.actionBtn {
  display: flex;
  gap: 25px;

  padding: 12px 26px;

  background-color: #fff;
  border: none;
  fill: #757575;
  cursor: pointer;
}

.actionBtn:hover {
    background-color: #757575;
    fill:#fff;
    color: #fff;
}

.actionIcon {
  fill: inherit;
}

.isFullItemWidth {
  width: 100%;
}